.DS_Store
/.build
/*.xcodeproj
xcuserdata/
xcshareddata/
DerivedData/
.swiftpm/xcode/
/Package.resolved
Euphoria/Euphoria/bootstrap/tmp/
Application/Payload
.idea
Tools/fastPathSign/.build_*
Exploits/kfd/kfd.framework/kfd
.sign