<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>default</string>
		<key>name</key>
		<string>Euphoria</string>
		<key>image</key>
		<string>Background_EU</string>
		<key>actionMenuColor</key>
		<string>72EB4F9D</string>
		<key>windowColor</key>
		<string>995A2B8D</string>
		<key>blur</key>
		<integer>18</integer>
		<key>titleShadow</key>
		<false/>
	</dict>
</array>
</plist>
